absl-py
aiohttp
aitextgen
async-timeout
attrs
cachetools
certifi
chardet
click
filelock
fire
Flask
fsspec
future
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
itsdangerous
Jinja2
joblib
Markdown
MarkupSafe
multidict
numpy
oauthlib
packaging
protobuf
pyasn1
pyasn1-modules
pyDeprecate
pyparsing
pytorch-lightning
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
six
tensorboard
tensorboard-plugin-wit
termcolor
tokenizers
torch
torchmetrics
tqdm
transformers
typing-extensions
urllib3
Werkzeug
wincertstore
yarl
flask_cors
sklearn
pickle5
nltk
pandas
bs4
matplotlib
tensorflow
seaborn